.title-copy {
    border-style: solid; 
    font-size: 5rem;
    margin-top: 3rem;
    text-align: center;

}

.box {
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

.red {
    background-color: red;
    
}